<p id='notice'><%= flash[:notice] %></p>

<h1> <%= @index_view_model.index_page_title %> </h1>

<ul id='js-all-images'>
  <% @reversed_images.each do |image| %>
    <li class='js-one-image'>
      <img src="<%= image.web_url %>" width="300">

      <%= link_to 'Show', image %>
      <%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' }, class: 'js-index-delete' %>

      <% if image.mytag_list.empty? %>
        <br><strong class="index_have_no_tag"> (This image does not have tags.) </strong>
      <% else %>
        <ul>
          <% image.mytag_list.each do |tag| %>
            <li class="index_my_tag">
              <%= link_to tag, images_path(search_tag: tag), class: 'js-index-tag' %>
            </li>
        <% end %>
        </ul>
      <% end %>

    </li>
    <hr>
  <% end %>
</ul>

<p>
  <%= link_to 'Submit Image', new_image_path %>
</p>

<% unless @index_view_model.search_tag_blank? %>
  <p>
    <%=  link_to 'All Images', images_path %>
  </p>
<% end %>

<p>
  <%= link_to 'Home', root_path %>
</p>
