<h1>New Image URL</h1>

<%= simple_form_for @image do |f| %>
  <%= f.input :web_url, label: false%>
  <%= f.button :submit, 'Submit' %>
<% end %>

<p>
  <%= link_to 'All Images', images_path %>
</p>

<p>
  <%= link_to 'Home', root_path %>
</p>
