<p id="notice"><%= notice %></p>

<p>
  <strong>url:</strong>
  <%= @image.web_url %>
</p>

<p>
  <img src="<%= @image.web_url %>" width="300">
</p>

<p>
  <%= link_to 'All Images', images_path %>
</p>

<p>
  <%= link_to 'Home', root_path %>
</p>
